.desc-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.desc-column {
  width: 45%;
  margin: 20px;
  text-align: center;
  transition: all 1s;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .desc-column {
    width: 90%;
    margin-top: 100px;

  }
  .desc-column{
    font-size: 1.2rem;
  }
}

.desc-column:hover {
  box-shadow: 0px 0px 15px #333;
  border: 2px solid;
  border-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%) 0.5;
  transition: all 0.3s ease-in-out;
}