@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');


.eventList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}

.eventCardCaption{
    position:relative;
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: white;
    margin-left: 2rem;
    margin-bottom: 3rem;
    backdrop-filter: blur(10px);
    line-height: 1.4rem;
    text-align: right;
    padding:0.8rem;
    border-radius: 0.5rem;
}


.detailsAndDemo {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.eventContainer {
    position: relative;
    height: 35vw;
    width: 70%;
    border: 0.5rem solid black;
    box-shadow: 5px 5px 5px rgb(145, 145, 145);
    border-radius: 1rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: flex-end;
    opacity:0;
    transition:opacity 1s ease-in-out;
}
.eventContainer.is-visible {
    position: relative;
    height: 35vw;
    width: 70%;
    border: 0.5rem solid black;
    box-shadow: 5px 5px 5px rgb(145, 145, 145);
    border-radius: 1rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 7rem;
    display: flex;
    align-items: flex-end;
    opacity:1;
    animation: FadeUp 1s ease-in-out;
}
@keyframes FadeUp{

    from{
      opacity:0%;
      transform: translate3d(0,8%,0);
    }
    to{
      opacity:100%;
      transform:none;
  
    }
  }

  
@keyframes FadeUp2{

    from{
      opacity:0%;
      transform: translate3d(0,15%,0);
    }
    to{
      opacity:100%;
      transform:none;
  
    }
  }



.eventDetail {
    position: absolute;
    width: 90%;
    height: 85vh;
    /* margin-top: 4.3rem; */
    align-items: center;
    border: 4px solid rgb(73, 73, 73);
    border-radius: 1rem;
    /* background-color: transparent; */
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(19px);
    z-index: 2;
    display: none;
    padding: 4rem 6rem;
    overflow-y: scroll;
    box-shadow: 0px 0px 50px black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
.clickToRead{
  font-size: 1rem;
  color:aqua;
}


.eventDetail::-webkit-scrollbar {
    width: 3px;
  }
  
  .eventDetail::-webkit-scrollbar-track {
    background: rgba(96, 95, 95, 0.5); 
    backdrop-filter: blur(19px);

  }
  
  .eventDetail::-webkit-scrollbar-thumb {
    background: #cbc9c9;
    border-radius: 1rem;
  }
  
  .eventDetail::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.detailImageContainer{
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;
    margin-bottom: 3rem;
}
.multipleImageContainer{
    width:50%;
}
.icon{
    position:relative;
    color:rgb(178, 177, 177);
    height: 100%;
}
.icon:hover{
    color:rgb(255, 254, 254);
}

.multipleImageContainer img {
    position: relative;
    width: 100%;
}
@media screen and (max-width: 956px) {
  .eventCardCaption {
      font-size: 1.5rem;
      margin-left: 0.5rem;
      margin-bottom: 1rem;
      padding:0.4rem;
  }
  .detailTextContainer{
    font-size:7rem;
  }
  .multipleImageContainer{
    width:80%;
}
.eventDetail{
  padding:6rem 2rem;
  height:87vh;
}
}

.eventDetail.active {
    display: block;
    /* Show the event detail when it's active */
}

.detailTextContainer {
  position: relative;
    color: white;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    font-family: 'Bacasime Antique', serif;
    font-weight: 600;
}

.crossButton {
    color: black;
    position:fixed;
    padding-top:1rem;
    padding-right: 1rem;
    top: 0;
    right: 0;
    z-index: 5;
}
.detailTextContainer hr{
  margin-bottom:2.5rem;
}

