* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ft-textslide {
    height: 100vh;
    background-color: #171717;
    position: relative;
    overflow: hidden;
}

.ft-clubdesc {
    position: absolute;
    font-size: 4rem;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33.33%;
    font-family: sans-serif;
    
}

.ft-photo{
    top: 5%;
    left: 5%;
    position: absolute;
}
.ft-edit{
    top: 50%;
    left: 5%;
    position: absolute;
}
.ft-video{
    top: 5%;
    left: 75%;
    position: absolute;
}
.ft-content{
    top: 50%;
    left: 75%;
    position: absolute;
}

@media only screen and (max-width:600px) {
    .ft-clubdesc {
        font-size: 2rem;  
        top: 5%;
        left: 55%;
        width: 50%;

    }
    .ft-textslide{
        height: 220vh;
    }
    .ft-photo{
        top: 10%;
        left: 12%;
    }
    .ft-video{
        top:32%;
        left: 12%;
    }
    .ft-edit{
        left: 12%;
        top: 54%;
    }
    .ft-content{
        left: 12%;
        top: 76%;
    }
}