body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color: #171717 ;
  
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 18px;
  height: 100%;
  margin-bottom: -2rem;
}

.active {
  background-color: #2e2e2e;
  color: white;
  height: 100%;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  
}

.dropdown .dropbtn {
  font-size: 18px;    
  border: none;
  outline: none;
  color: white;
  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(248, 248, 255,0.5);
  min-width: 112px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0 0 5px 5px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navmainlogo:hover{
  filter: saturate(1000%);
}


.topnav-link:hover {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display:block;
  
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }  
  
  
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    padding-bottom: 0px;
    text-align: left;
  }
}

.navmainlogo{
  width: 20rem;
  filter: saturate(300%);
}

.dropdown-nav{
    border: none;
    background: transparent;
    color: white;
    float: left;
    padding: 14px 16px;
    display: none;
}
.navhomelogo{
  margin-right: 4rem;
}

@media screen and (max-width:800px){
  .navhomelogo{
    margin-right: 0rem;
  }
}




